<% layout('layouts/boilerplate.ejs') %>
<div class="row mb-4 mx-5">
    <h1 class="text-center">New Hostel</h1>
    <div class="col-md-6 offset-3 shadow rounded pb-3 pt-2 mx-auto bg-light">
        <form action="/campgrounds" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="border border-2 p-2 rounded">
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                           placeholder="Enter the Address" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" row gx-0 mb-3">
                    <input class="col form-control me-3" type="text" id="latitude" name="campground[latitude]"
                           placeholder="Latitude">
                    <input class="col form-control" type="text" id="longitude" name="campground[longitude]"
                           placeholder="Longitude">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location" for="price">Hostel Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="number" class="form-control" placeholder="0.00" id="price" aria-label="Price"
                           name="campground[price]" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                          required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Choose Image(s)</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Hostel</button>
            </div>
        </form>
        <a class="text-decoration-none text-secondary" href="/campgrounds">All Hostels</a>
    </div>
</div>
<% layout('layouts/boilerplate.ejs') %>